<h1>404 Page Not Found</h1>
<p>Sorry, there isn't a page at this location!</p>
<p>Return <a href="/">home</a></p>
<p>And please <a href="mailto:james@jamestlee.ca">contact me</a>, if you've reached this page by clicking a link on my site</p>